      <nav class="navbar navbar-expand-lg navbar-light navbar-GDM" *ngIf="isAuthenticated()">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <img class="logo navbar-brand" src="../../assets/resources/logo-GDM.png" routerLink="/accueil"  alt="logo-GDM">

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/creationNature" >Creation Nature</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                    <li class="nav-item">

                </li>
            </ul>

          <div *ngIf="isAuthenticated()">Bonjour {{user.firstName}}</div>


           <a *ngIf="!isAuthenticated()" lass="nav-link" routerLink="/login"><button class="btn btn-deconnecter">Login</button></a>
           <a *ngIf="isAuthenticated()"  class="nav-link"><button class="btn btn-deconnecter" (click)="bye()">Deconnecter</button></a>

          </div>
        </nav>
