      <nav class="navbar navbar-expand-lg navbar-light navbar-GDM">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <img class="logo navbar-brand" src="../../assets/resources/logo-GDM.png" routerLink="/accueil"  alt="logo-GDM">

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/creationNature" >Creation Nature</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-deconnecter">Se déconnecter</button>
            </form>
          </div>
        </nav>
