<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Création d'une nature de mission</h2>
      <form (ngSubmit)="submit()" #monForm="ngForm">
        <div class="form-group">
          <label for="formGroupExampleInput">Nature :</label>
          <input type="text" class="form-control" placeholder="Entrez une nature" [(ngModel)]="nouvelleNature.name" name="name" #name="ngModel" required>
          <p *ngIf="name.dirty && name.invalid">
            vous devez renseignez votre matricule.
          </p>
        </div>

        <div class="form-group">
          <label class="checked-GDM">Facturée?
            <input type="checkbox" [(ngModel)]="nouvelleNature.invoiced" name="invoiced" #invoiced="ngModel">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="form-group">
          <label class="checked-GDM">Versement prime?
            <input type="checkbox" [(ngModel)]="nouvelleNature.bonus" name="bonus" #bonus="ngModel">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-group center-boutons-formulaire">
          <button class="btn btn-primary bouton-formulaire" type="submit">Valider</button>
          <button class="btn btn-danger bouton-formulaire" type="cancel">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>


