<h2>liste des utilisateurs</h2>
<button type="button" class="btn btn-outline-dark" (click)=newUser()>Creer un utilisateur</button>
<p>
  <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Roles</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of listeUsers; index as i">

      <th scope="row">{{ i + 1 }}</th>
      <td >
        {{ user.firstName }}
      </td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.role }}
      </td>
      <td>
        <button type="button" class="btn btn-warning"   (click)="update(user)">Modifier</button>
        <button type="button" class="btn btn-danger" (click)="delete(user)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet ></router-outlet>



