<h2>Liste des missions des collaborateurs</h2>
<form (ngSubmit)="submit()" #form="ngForm">
  <div class="row">
    <div class="form-group col-2 offset-2">
       <label>Collaborateur:</label>
      <select class="form-control" [(ngModel)]="user" name="user">
        <option [ngValue]="0">Collaborateur</option>
        <option *ngFor="let item of listeUsers" [ngValue]="item">{{item.firstName}}</option>
      </select>
    </div>
      <div class="form-group col-2">
      <label>Mois:</label>
      <select class="form-control " [(ngModel)]="mois" name="mois" [disabled]="annee ==0">
        <option *ngFor="let item of listeMois" [ngValue]="item.number">{{item.name}}</option>
      </select>
      </div>
      <div class="form-group col-2">
        <label>Année:</label>
      <select class="form-control" [(ngModel)]="annee" name="annee">
        <option *ngFor="let item of listeAnnees" [ngValue]="item.number">{{item.name}}</option>
      </select>
      </div>
      <div class="col-2 ">
        <label style="color:white">sadfasdf</label>
        <button type="submit" class="btn btn-outline-danger">Trier</button>
      </div>
  </div>
</form>
<a type="button" class="btn btn-success" href="{{exportExcelUrl}}">Telecharger les missions</a>

<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th class="align-middle" scope="col">#</th>
      <th class="align-middle" scope="col">Nature de la mission</th>
      <th class="align-middle" scope="col">Date de début</th>
      <th class="align-middle" scope="col">Date de fin</th>
      <th class="align-middle" scope="col">Ville de départ</th>
      <th class="align-middle" scope="col">Ville d'arrivée</th>
      <th class="align-middle" scope="col">Bonus</th>
      <th class="align-middle" scope="col">Transport</th>
      <th class="align-middle" scope="col">Montant de la facture</th>
      <th class="align-middle" scope="col">Status de la mission</th>
      <th class="align-middle" scope="col">Collaborateur</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let mission of listeMission; index as i">
      <th class="align-middle" scope="row">{{ i + 1 }}</th>
      <td class="align-middle">{{ mission.kind.name}}</td>
      <td class="align-middle">{{ mission.startDate }}</td>
      <td class="align-middle">{{ mission.endDate }}</td>
      <td class="align-middle">{{ mission.departureCity }}</td>
      <td class="align-middle">{{ mission.arrivalCity }}</td>
      <td class="align-middle">{{ mission.prime }}</td>
      <td class="align-middle">{{ mission.transportEnum }}</td>
      <td class="align-middle">0 €</td>
      <td class="align-middle">{{ mission.missionStatus }}</td>
      <td class="align-middle">{{ mission.user.firstName }} {{ mission.user.lastName }}</td>
    </tr>
  </tbody>
</table>
