<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Récapitulatif des primes</title>
    <link rel="stylesheet" href="primes.component.css">
  </head>
  <body>
    <h1>Récapitulatif des primes</h1>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="highcharts.js"></script>
    <script src="highcharts-3d.js"></script>
    <script src="exporting.js"></script>
    <script src="export-data.js"></script>
    <form action="" method="post" style="margin-left:10px; margin-right:auto;">
      <select name="annee">
          <option value="2016" id="annee">2016</option>
          <option value="2017" id="annee">2017</option>
          <option value="2018" id="annee">2018</option>
      </select>
      <button class="btn_blue" style="margin-left:auto; margin-right:auto;">Générer le graphe</button>
    </form>
  


    <table style="margin-top: 60px;">
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Nature</th>
        <th>Prime</th>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th></th>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th></th>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th></th>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <div id="container" style="margin-top:-300px; margin-left:600px;"></div>

<div id="sliders" style="margin-left: 800px;">
    <table>
        <tr>
        	<td>Alpha Angle</td>
        	<td><input id="alpha" type="range" min="0" max="45" value="15"/></td>
					<td><span id="alpha-value" class="value"></span></td>
        </tr>
				<tr>
					<td><br></td>
				</tr>
        <tr>
        	<td>Beta Angle</td>
        	<td><input id="beta" type="range" min="-45" max="45" value="15"/></td>
					<td><span id="beta-value" class="value"></span></td>
        </tr>
				<tr>
					<td><br></td>
				</tr>
        <tr>
        	<td>Depth</td>
        	<td><input id="depth" type="range" min="20" max="100" value="50"/></td>
					<td><span id="depth-value" class="value"></span></td>
        </tr>
    </table>
</div>

<p style="margin-top:-100px;">Date : <input type="text" value="" name="date1" id="champ_date1" size="12" maxlength="10"></p>
<div id="calendarMain1"></div>
<script type="text/javascript">
//<![CDATA[
calInit("calendarMain1", "", "champ_date1", "jsCalendar", "day", "selectedDay");
//]]>
</script>

    <script>

// Set up the chart
var chart = new Highcharts.Chart({
    chart: {
        renderTo: 'container',
        type: 'column',
        options3d: {
            enabled: true,
            alpha: 15,
            beta: 15,
            depth: 50,
            viewDistance: 25
        }
    },
    title: {
        text: 'Primes année'
    },
    subtitle: {
        text: 'Héhé'
    },
    plotOptions: {
        column: {
            depth: 25
        }
    },

    xAxis: {
      categories: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
    },

    series: [{
        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
    }]
});

function showValues() {
    $('#alpha-value').html(chart.options.chart.options3d.alpha);
    $('#beta-value').html(chart.options.chart.options3d.beta);
    $('#depth-value').html(chart.options.chart.options3d.depth);
}

// Activate the sliders
$('#sliders input').on('input change', function () {
    chart.options.chart.options3d[this.id] = parseFloat(this.value);
    showValues();
    chart.redraw(false);
});

showValues();

    </script>
  </body>
</html>