<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Création de mission</h2>

      <form (ngSubmit)="submit()" #monForm="ngForm">

        <div class="form-group">
          <label for="kind">Nature :</label>
          <select class="form-control" placeholder="Choisissez une nature" [(ngModel)]="mission.kind" name="kind" #kind="ngModel" required>
            <option *ngFor="let kind of kinds" value="kind">{{kind.name}}</option>
          </select>
        </div>
        <div class="input-group">
          <label class="startDate">Date de début</label>
          <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="mission.startDate" name="startDate" #startDate="ngModel" ngbDatepicker>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div class="input-group">
          <label class="startDate">Date de fin</label>
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="mission.endDate" name="endDate" #endDate="ngModel" ngbDatepicker>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Ville de départ :</label>
          <input type="text" class="form-control" placeholder="Entrez une ville" [(ngModel)]="mission.departureCity"
            name="depart" #name="ngModel" required>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Ville d'arrivé :</label>
          <input type="text" class="form-control" placeholder="Entrez une ville" [(ngModel)]="mission.arrivalCity"
            name="arrival" #name="ngModel" required>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Transport :</label>
          <select class="form-control" placeholder="Entrez une nature" [(ngModel)]="mission.transportEnum" name="transport"
            #transport="ngModel" [ngModelOptions]="{standalone: true}" required>
            <option *ngFor="let t of transport" [ngValue]="t">{{t}}</option>
          </select>
        </div>
        <div class="form-group center-boutons-formulaire">
          <button class="btn btn-primary bouton-formulaire" type="submit()" [disabled]="!monForm.valid">Valider</button>
          <button class="btn btn-danger bouton-formulaire" type="cancel">Annuler</button>
        </div>
      </form>
    </div>
    </div>
</div>
